.login-information {
	min-width: 300px;
	flex: 0;
	background: var(--lumo-primary-color-50pct);
}

.main-layout {
	flex-direction: row;

	/* Used by the menu and form overlays */
	--overlay-box-shadow: 0 0 3px 2px var(--lumo-shade);
}

.product-form {
    height: 100%;
    overflow: auto;
    background: var(--lumo-shade);
    box-shadow: var(--overlay-box-shadow);
}

@media (max-width: 550px) {

	.product-form {
		width: 100%;

		/* Prevent text-fields from overflowing on narrow screens */
		--vaadin-text-field-default-width: 6em;
	}
}

/* Color codes for the availability statuses of the products */
.Available {
    color: #2dd085;
}
.Coming {
    color: #ffc66e;
}
.Discontinued {
    color: #f54993;
}

/* Replicating the labels of official Vaadin components 
 * for the CheckBoxGroup add-on.
*/
.vaadin-label {
    align-self: flex-start;
    color: var(--lumo-secondary-text-color);
    font-weight: 500;
    font-size: var(--lumo-font-size-s);
    margin-left: calc(var(--lumo-border-radius) / 4);
    transition: color 0.2s;
    line-height: 1;
    padding-bottom: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
}

.vaadin-label:hover {
    color: var(--lumo-body-text-color);
}
